{% extends 'assistant/base.html' %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th align="right">Course Number</th>
        <th>Course Name</th>
        <th>Instructor</th>
        <th>Credits</th>
        <th>Timings</th>
      </tr>
    </thead>
    {% if courses_details %}
    <tbody>
      {% for course_detail in courses_details %}
      <tr>
        <td>{{ course_detail.course_num }}</td>
        <td>{{ course_detail.course_name }}</td>
        <td>{{ course_detail.course_instructor_name }}</td>
        <td>{{ course_detail.course_credits }}</td>
        <td>{{ course_detail.course_timings }}</td>
      </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>

<div class="row clearfix">
        <div class="col-md-12 column">
                <table class="table table-bordered table-hover" id="tab_logic">
                        <thead>
                        </thead>
                        <tbody>
                                <tr>
                                        <td>
                                                <input id='course_num' type='text' placeholder='Course Number' class='form-control input-md'/> 
                                        </td>
                                        <td>
                                                <input id='course_name' type='text' placeholder='Course Name' class='form-control input-md'/> 
                                        </td>
                                        <td>
                                                <input id='course_instructor' type='text' placeholder='Instructor' class='form-control input-md'/> 
                                        </td>
                                        <td>
                                                <input id='course_credits' type='number' placeholder='Credits' class='form-control input-md'/> 
                                        </td>
                                        <td>
                                                <input id='course_timings' type='text' placeholder='Timings' class='form-control input-md'/> 
                                        </td>
                                </tr>
                        </tbody>
                </table>
        </div>
</div>

<a id="add_course" class="btn btn-default pull-left">Add Course</a>

{% endblock %}
