{% extends 'assistant/base.html' %}

{% block content %}

<div class="row clearfix">
        <div class="col-md-12 column">
                <table class="table table-bordered table-hover" id="tab_logic">
                        <thead>
                                <tr >
                                        <th class="text-center">
                                                Course Number
                                        </th>
                                        <th class="text-center">
                                                Course Name
                                        </th>
                                        <th class="text-center">
                                                Instructor
                                        </th>
                                        <th class="text-center">
                                                Credits
                                        </th>
                                        <th class="text-center">
                                                Timings
                                        </th>
                                        <th>
                                        </th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr id='addr0' class="added_courses"></tr>
                        </tbody>
                </table>
        </div>
</div>

<form>
    <div class="form-group">
      <label for="sel">Choose a course from the list</label>
      <select class="form-control" id="sel">
        {% if dropdown_courses %}
        {% for dropdown_course in dropdown_courses %}
        <option>{{ dropdown_course.course_num }}</option>
        {% endfor %}
        {% endif %}
      </select>
</form>

<a id="add_row" class="btn btn-default pull-left">Add Course</a>
<!--<a id='delete_row' class="pull-right btn btn-default">Delete Row</a>-->

{% endblock %}
